#################################
# Python
#################################
__pycache__/
*.pyc
*.pyo
*.pyd

#################################
# Virtual Environment
#################################
venv/
env/
.venv/

#################################
# Django
#################################
db.sqlite3
media/
staticfiles/

#################################
# Environment variables
#################################
.env

#################################
# Logs
#################################
*.log

#################################
# Docker
#################################
docker-compose.override.yml

#################################
# IDE (VS Code / PyCharm)
#################################
.vscode/
.idea/

#################################
# OS files
#################################
.DS_Store
Thumbs.db

#################################
# migrations cache (optional safe cleanup)
#################################
**/migrations/__pycache__/